# Check files with https://github.com/editorconfig-checker/editorconfig-checker
# brew install editorconfig-checker
[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
indent_size = 2

[*.{sh,bash}]
max_line_length = 80

[*.md]
trim_trailing_whitespace = false
